* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  
  background-color: #333;
}

.container {
  width: 60vw;
  margin: 60px auto;
  background-color: #eee;
}

.innerContainer {
  margin: 2em;
  padding-bottom: 3em;
}

header {
  background-color: #1B3189;
  color: #fff;
  text-align: center;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
}

.textBox {
  font-size: large;
  margin: 10px;
  width: 50ch;
  height: 2em;
}

.submitBtn, .startBtn, .stopBtn, .resumetBtn, .resetBtn {
  font-size: large;
  padding: 10px 15px;
  margin: 10px;

  background-color: #1B3189;
  color: #fff;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.stopwatch {
  text-align: center;
}

.timeDisplay {
  font-size: 70px;
}

.startBtn {
  background-color: #137C3C;
}

.stopBtn {
  background-color: #A5201C;
}

.resumetBtn {
  background-color: #DCA30E;
}

.exerciseWrapper {
  display: flex;
  justify-content: center;
}

.removeBtn{
  background-color: #A5201C;
  color: #fff;
  font-size: 1.5em;

  margin: 10px;
  margin-left: 0;
  padding: 10px;

  border: none;
  border-radius: 5px;
 
  cursor: pointer;
}
