* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  
  background-color: #333;
}

.container {
  width: 60vw;
  margin: 40px auto;
  background-color: #eee
}

.innerContainer {
  margin: 2em;
}

header {
  background-color: #1B3189;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.textBox {
  font-size: large;
  margin: 10px;
  width: 50ch;
  height: 2em;
}

.submitBtn {
  font-size: large;
  padding: 10px 15px;
  margin: 10px;

  background-color: #1B3189;
  color: #fff;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.removeBtn{
  background-color: #1B3189;
  color: #fff;
  font-size: x-large;

  border: none;
 
  float: right;
  cursor: pointer;
}